<configuration>
  <!--<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>LOG4J</Marker>
  </turboFilter> -->
 <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
   <MDCKey>LOG4J</MDCKey>
   <value>test</value>
 </turboFilter>
 <appender name="TestLogfile" class="ch.qos.logback.core.FileAppender">
   <file>target/testlogback.log</file>
   <encoder>
     <Pattern>%d{ISO8601} %5p [%t] %c{0} %X{transactionId} - %m%n</Pattern>
   </encoder>
 </appender>

 <root level="error">
   <appender-ref ref="TestLogfile" />
 </root>
</configuration>