
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/noto-serif-v23-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/noto-serif-v23-latin-100italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/noto-serif-v23-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/noto-serif-v23-latin-200italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/noto-serif-v23-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/noto-serif-v23-latin-300italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-serif-v23-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/noto-serif-v23-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-serif-v23-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/noto-serif-v23-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-serif-v23-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/noto-serif-v23-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/noto-serif-v23-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/noto-serif-v23-latin-800italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/noto-serif-v23-latin-900.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/noto-serif-v23-latin-900italic.woff2') format('woff2');
}