<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

  <Appenders>
    <Console name="CONSOLE">
      <PatternLayout/>
    </Console>
    <File name="FILE" fileName="logs/app.log">
      <JsonTemplateLayout/>
    </File>
  </Appenders>

  <CustomLevels>
    <CustomLevel name="VERBOSE" intLevel="550"/> <!--1-->
  </CustomLevels>

  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="CONSOLE" level="VERBOSE"/> <!--2-->
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>

</Configuration>
